Repository MAPReiff/Tikit, pull requests merged in 2023-04, with the labels that each got.

#2 Ticket Data Initial Error Checks
  data/tickets.js
Labels: data, tickets

#3 Express Handlebars Init
  app.js
  package-lock.json
  package.json
  public/assets/404.gif
  public/css/main-styles.css
  routes/index.js
  routes/main.js
  views/404.handlebars
  views/homepage.handlebars
  views/layouts/main.handlebars
Labels: enhancement, routes, pages

#8 Basic Login/Logout Authorization
  app.js
  data/users.js
  helpers.js
  package-lock.json
  package.json
  routes/main.js
  seed.js
  views/login.handlebars
Labels: enhancement, routes, users, pages

#9 Basic middleware, registering users
  data/users.js
  public/js/login.js
  public/js/register.js
  routes/main.js
  views/login.handlebars
  views/register.handlebars
Labels: enhancement, data, routes, users, pages

#11 /users and /tickets now require login to access
  routes/index.js
Labels: enhancement, routes, tickets, users

#13 Login and Register Bootstrap
  public/css/login.css
  routes/main.js
  views/layouts/main.handlebars
  views/login.handlebars
  views/register.handlebars
Labels: enhancement, pages

#14 Edit users
  data/users.js
  routes/users.js
  views/userEdit.handlebars
  views/userView.handlebars
Labels: enhancement, data, routes, users, pages

#16 Added dependent ticket and user updates/creation & made all ids in DB…
  data/comments.js
  data/tickets.js
  data/users.js
  routes/tickets.js
  routes/users.js
  seed.js
Labels: data, routes, tickets, users

#20 Nav bar search, color consistency, favicon
  public/assets/android-chrome-192x192.png
  public/assets/android-chrome-256x256.png
  public/assets/apple-touch-icon.png
  public/assets/browserconfig.xml
  public/assets/favicon-16x16.png
  public/assets/favicon-32x32.png
  public/assets/favicon.ico
  public/assets/mstile-150x150.png
  public/assets/safari-pinned-tab.svg
  public/assets/site.webmanifest
  public/assets/tikit_logo_full.png
  public/assets/tikit_logo_t.png
  public/css/main-styles.css
  public/favicon.ico
  views/layouts/main.handlebars
Labels: enhancement, pages

#18 Logout in navbar, admin only edit users
  routes/main.js
  routes/users.js
  views/userEdit.handlebars
  views/userView.handlebars
Labels: enhancement, routes, users, pages

#23 Tota11y fixes
  public/css/main-styles.css
  routes/tickets.js
  routes/users.js
  views/allTicketsView.handlebars
  views/allUsersView.handlebars
  views/layouts/main.handlebars
  views/userEdit.handlebars
Labels: bug, pages

#22 Ticket calendar
  data/tickets.js
  data/users.js
  public/css/main-styles.css
  public/js/calendar.js
  routes/tickets.js
  routes/users.js
  views/calendar.handlebars
  views/homepage.handlebars
  views/layouts/main.handlebars
Labels: bug, enhancement, routes, tickets, users, pages

#24 Edit Users Error Checks and Style
  public/js/userEdit.js
  routes/users.js
  views/userEdit.handlebars
Labels: enhancement, routes, users, pages
