Repository MAPReiff/Tikit, pull requests merged in 2023-05, with the labels that each got.

#26 Update comments to be tota11y compliant
  views/ticketView.handlebars
Labels: tickets, pages

#21 Make Tickets page and Somewhat working Edit Ticket page
  data/tickets.js
  public/css/main-styles.css
  public/js/editTicket.js
  public/js/makeTicket.js
  public/js/register.js
  routes/main.js
  routes/tickets.js
  routes/users.js
  views/editTicket.handlebars
  views/layouts/main.handlebars
  views/makeTicket.handlebars
  views/ticketView.handlebars
Labels: data, routes, tickets, pages

#29 Update seed data
  package.json
  seed.js
Labels: enhancement

#30 Rich text support
  data/tickets.js
  public/css/main-styles.css
  public/js/quill.js
  views/layouts/main.handlebars
  views/makeTicket.handlebars
  views/ticketView.handlebars
Labels: enhancement, data, tickets, pages

#31 User ticket view
  app.js
  data/tickets.js
  data/users.js
  middleware.js
  routes/index.js
  routes/main.js
  routes/tickets.js
  routes/users.js
  views/allTicketsView.handlebars
  views/layouts/main.handlebars
Labels: enhancement, routes, tickets, pages

#33 Fix login and register user ID issue
  routes/main.js
Labels: bug, routes

#35 Remove console.logs
  middleware.js
  routes/main.js
Labels: bug, routes

#32 Edit ticket page
  app.js
  data/tickets.js
  helpers.js
  public/js/calendar.js
  public/js/editTicket.js
  public/js/makeTicket.js
  routes/main.js
  routes/tickets.js
  views/editTicket.handlebars
  views/makeTicket.handlebars
  views/ticketView.handlebars
Labels: enhancement, data, routes, tickets, pages

#37 Client side
  public/js/login.js
  public/js/loginRegister.js
  public/js/search.js
  routes/index.js
  views/allTicketsView.handlebars
  views/allUsersView.handlebars
  views/layouts/main.handlebars
Labels: enhancement, tickets, users, pages

#38 Calendar Date Fixes
  public/js/calendar.js
Labels: bug, tickets, pages

#42 Remove underline and strikethrough in rich text
  public/js/quill.js
Labels: enhancement

#43 Fix user search
  public/js/search.js
  views/allUsersView.handlebars
Labels: users, pages

#44 finish xss for all routes
  routes/main.js
  routes/tickets.js
  routes/users.js
Labels: enhancement, routes, tickets, users

#46 Tota11y fixes
  public/js/quill.js
  views/login.handlebars
  views/register.handlebars
Labels: enhancement, pages

#48 HTML & JS fixes
  public/js/makeTicket.js
  public/js/search.js
  routes/tickets.js
  views/allUsersView.handlebars
  views/editTicket.handlebars
  views/makeTicket.handlebars
  views/ticketView.handlebars
Labels: bug, enhancement, routes, tickets, users, pages

#49 Remove console logs that are not needed.
  public/js/makeTicket.js
  routes/tickets.js
Labels: enhancement

#50 add input validation to ticket route
  helpers.js
  public/js/comment.js
  routes/comments.js
  routes/tickets.js
  views/400.handlebars
  views/layouts/main.handlebars
Labels: enhancement, tickets, pages
